<?xml version="1.0"?>
<robot name="mima_mkv30_common" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/common/all_commons.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/wheels/all_wheels.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/gz_system_plugins/all_gz_system_plugins.xacro"/>
  <xacro:include filename="$(find robot_mima_mkv30)/urdf/includes/fork_macro.xacro"/>

  <!--
  ARGS
  -->

  <xacro:arg name="namespace"                default=""/>
  <xacro:arg name="robot_name"               default="mima_mkv30"/>
  <xacro:arg name="sim_file"                 default=""/>
  <xacro:arg name="ros2_control_config_file" default=""/>
  <xacro:arg name="chassis_use_visual"       default="True"/>
  <xacro:arg name="chassis_use_inertial"     default="True"/>
  <xacro:arg name="s_wheel_use_visual"       default="True"/>
  <xacro:arg name="s_wheel_use_v_mesh"       default="True"/>
  <xacro:arg name="s_wheel_use_inertial"     default="True"/>
  <xacro:arg name="wheel_use_visual"         default="True"/>
  <xacro:arg name="wheel_use_v_mesh"         default="True"/>
  <xacro:arg name="wheel_use_inertial"       default="True"/>
  <xacro:arg name="fork_use_visual"          default="True"/>
  <xacro:arg name="fork_use_inertial"        default="False"/>

  <!--
  PROPERTIES
  -->

  <xacro:property name="namespace"       value="$(arg namespace)"/>
  <xacro:property name="robot_name"      value="$(arg robot_name)"/>
  <xacro:property name="sim_file"        value="$(arg sim_file)"/>

  <xacro:property name="sim_cfg"
                  value="${xacro.load_yaml(sim_file) if sim_file != '' else dict()}"/>

  <xacro:make_namespace prop_id="robot_namespace" namespace="${namespace}" name="${robot_name}"/>

  <xacro:make_prefix prop_id="robot_prefix" name="${robot_name}"/>

  <!-- Wheel kinematic model properties. -->
  <xacro:property name="wheelbase"                value="1.700"/>
  <xacro:property name="front_wheel_track"        value="0.780"/>
  <xacro:property name="rear_wheel_track"         value="1.1"/>

  <!-- Chassis fixed model properties. -->
  <xacro:property name="chassis_color"           value="0.831372549 0 0 1"/>
  <xacro:property name="chassis_use_visual"      value="$(arg chassis_use_visual)"/>
  <xacro:property name="chassis_use_inertial"    value="$(arg chassis_use_inertial)"/>
  <xacro:property name="chassis_size_x"          value="${wheelbase}"/>
  <xacro:property name="chassis_size_y"          value="0.7"/>
  <xacro:property name="chassis_size_z"          value="1.5"/>
  <xacro:property name="chassis_mass"            value="3500.0"/>

  <!-- Steerable wheel launch-facing properties. -->
  <xacro:property name="s_wheel_use_visual"              value="$(arg s_wheel_use_visual)"/>
  <xacro:property name="s_wheel_use_inertial"            value="$(arg s_wheel_use_inertial)"/>
  <xacro:property name="s_wheel_use_v_mesh"              value="$(arg s_wheel_use_v_mesh)"/>
  <xacro:property name="s_wheel_color"                   value="0 0 0 1"/>
  <xacro:property name="s_wheel_steering_joint_limits"   value="-0.7853981633974483 0.7853981633974483 100.0 100000.0"/>
  <xacro:property name="s_wheel_steering_joint_dynamics" value="0.001 0.001"/>
  <xacro:property name="s_wheel_rotation_joint_limits"   value="1000.0 1000.0"/>
  <xacro:property name="s_wheel_rotation_joint_dynamics" value="0.001 0.001"/>
  <xacro:property name="s_wheel_v_mesh"
                  value="${'robotics_description/meshes/wheels/standard_wheels/rubber_wheel_3.stl' if s_wheel_use_v_mesh else ''}"/>
  <!--
  rubber_wheel_3.stl dimensions from MeshLab:
  diameter = 0.355598 m.
  thickness = 0.114300 m.

  wheel_3.diameter = 2 * s_wheel_radius = 2 * 0.2285 = 0.457000 m.
  wheel_3.thickness = 0.152 m.

  sx = s_wheel_3.diameter / rubber_wheel_3_stl.diameter = 0.457000 / 0.355598 = 1.285159.
  sy = sx
  sz = s_wheel_3.thickness / rubber_wheel_3_stl.thickness = 0.152 / 0.114300 = 1.33
  -->
  <xacro:property name="s_wheel_v_mesh_scale"            value="1.2852 1.2852 1.33"/>
  <xacro:property name="s_wheel_radius"                  value="0.2285"/>
  <xacro:property name="s_wheel_width"                   value="0.152"/>
  <xacro:property name="s_wheel_mass"                    value="100.0"/>

  <!-- Wheel launch-facing properties. -->
  <xacro:property name="wheel_use_visual"                value="$(arg wheel_use_visual)"/>
  <xacro:property name="wheel_use_inertial"              value="$(arg wheel_use_inertial)"/>
  <xacro:property name="wheel_use_v_mesh"                value="$(arg wheel_use_v_mesh)"/>
  <xacro:property name="wheel_color"                     value="0 0 0 1"/>
  <xacro:property name="wheel_rotation_joint_limits"     value="1000.0 1000.0"/>
  <xacro:property name="wheel_rotation_joint_dynamics"   value="0.001 0.001"/>
  <xacro:property name="wheel_v_mesh"
                  value="${'robotics_description/meshes/wheels/standard_wheels/rubber_wheel_3.stl' if wheel_use_v_mesh else ''}"/>

  <!--
  rubber_wheel_3.stl dimensions from MeshLab:
  diameter = 0.355598 m.
  thickness = 0.114300 m.

  wheel_3.diameter = 2 * wheel_radius = 2 * 0.2795 = 0.559000 m.
  wheel_3.thickness = 0.203000 m.

  sx = wheel_3.diameter / rubber_wheel_3_stl.diameter = 0.559000 / 0.355598 = 1.571999843
  sy = sx
  sz = wheel_3.thickness / rubber_wheel_3_stl.thickness = 0.203000 / 0.114300 = 1.776027997
  -->
  <xacro:property name="wheel_v_mesh_scale"     value="1.572 1.572 1.77603"/>
  <xacro:property name="wheel_radius"           value="0.2795"/>
  <xacro:property name="wheel_width"            value="0.203"/>
  <xacro:property name="wheel_mass"             value="100.0"/>

  <!-- Fork launch-facing properties. -->
  <xacro:property name="fork_mast_color"        value="0.2 0.2 0.2 1"/>
  <xacro:property name="fork_board_color"       value="0.8 0.8 0.8 1"/>
  <xacro:property name="fork_tine_color"        value="0.95 0.95 0.95 1"/>
  <xacro:property name="fork_use_visual"        value="$(arg fork_use_visual)"/>
  <xacro:property name="fork_use_inertial"      value="$(arg fork_use_inertial)"/>
  <xacro:property name="fork_mast_limits"       value="-0.05 0.09 0.2 100000.0"/>
  <xacro:property name="fork_holder_limits"     value="0.0 3.0 0.2 100000.0"/>
  <xacro:property name="fork_board_limits"      value="-0.075 0.075 0.2 100000.0"/>
  <xacro:property name="fork_board_motion_sign" value="1"/>

  <!-- Fork fixed model properties. -->
  <xacro:property name="fork_mass"           value="0.01"/>
  <xacro:property name="fork_mast_size"      value="0.1 0.780 2.205"/>
  <xacro:property name="fork_support_height" value="0.5"/>
  <xacro:property name="fork_board_size"     value="0.1 1.1 ${fork_support_height}"/>
  <xacro:property name="fork_tine_size"      value="1.15 0.125 0.045"/>
  <xacro:property name="fork_y_left_tine"    value="0.2575"/>
  <xacro:property name="fork_y_right_tine"   value="-0.1775"/>

  <link name="${robot_prefix}base_footprint_link"/>
  <link name="${robot_prefix}base_link"/>

  <joint name="${robot_prefix}base_footprint_joint" type="fixed">
    <parent link="${robot_prefix}base_footprint_link"/>
    <child link="${robot_prefix}base_link"/>
    <!--
    steerable wheel at the front of the vehicle,
    wheel at the back of the vehicle.
    -->
    <origin rpy="0 0 0" xyz="0 0 ${wheel_radius}"/>
  </joint>

  <link name="${robot_prefix}chassis_link">
    <xacro:if value="${chassis_use_visual}">
      <xacro:visual_box size="${chassis_size_x} ${chassis_size_y} ${chassis_size_z}"
                        shape_origin="0 0 ${chassis_size_z * 0.5} 0 0 0"
                        color="chassis_color ${chassis_color}"/>
    </xacro:if>
    <xacro:collision_box size="${chassis_size_x} ${chassis_size_y} ${chassis_size_z}"
                         shape_origin="0 0 ${chassis_size_z * 0.5} 0 0 0"/>
    <xacro:if value="${chassis_use_inertial}">
      <xacro:solid_box_inertia mass="${chassis_mass}"
                               size="${chassis_size_x} ${chassis_size_y} ${chassis_size_z}"
                               origin="0 0 ${chassis_size_z * 0.5} 0 0 0"/>
    </xacro:if>
    <xacro:unless value="${chassis_use_inertial}">
      <xacro:null_inertia/>
    </xacro:unless>
  </link>

  <xacro:if value="${chassis_use_visual and chassis_color != '' and sim_file != ''}">
    <gazebo reference="${robot_prefix}chassis_link">
      <material>
        <ambient>${chassis_color}</ambient>
        <diffuse>${chassis_color}</diffuse>
      </material>
    </gazebo>
  </xacro:if>

  <joint name="${robot_prefix}chassis_joint" type="fixed">
    <parent link="${robot_prefix}base_link"/>
    <child link="${robot_prefix}chassis_link"/>
    <origin rpy="0 0 0" xyz="${0.5 * chassis_size_x} 0 ${s_wheel_radius}"/>
  </joint>

  <xacro:property name="front_left_wheel_sim_cfg"
                  value="${sim_cfg.get('front_left_wheel', dict())}"/>
  <xacro:set_props_wheel_sim prop_prefix="front_left_wheel_sim"
                             sim_cfg="${front_left_wheel_sim_cfg}"/>

  <xacro:steerable_wheel
    name="front_left_wheel"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}base_link"
    use_visual="${s_wheel_use_visual}"
    use_inertial="${s_wheel_use_inertial}"
    v_mesh="${s_wheel_v_mesh}"
    v_mesh_scale="${s_wheel_v_mesh_scale}"
    color="${s_wheel_color}"
    radius="${s_wheel_radius}"
    length="${s_wheel_width}"
    mass="${s_wheel_mass}"
    steering_joint_type="revolute"
    steering_joint_limits="${s_wheel_steering_joint_limits}"
    steering_joint_dynamics="${s_wheel_steering_joint_dynamics}"
    rotation_joint_type="continuous"
    rotation_joint_limits="${s_wheel_rotation_joint_limits}"
    rotation_joint_dynamics="${s_wheel_rotation_joint_dynamics}"
    joint_parent_fr_wheel_fr="${wheelbase} ${front_wheel_track * 0.5} ${-wheel_radius + s_wheel_radius} 0 0 0"
    sim_enabled="${front_left_wheel_sim_enabled}"
    sim_max_contacts="${front_left_wheel_sim_max_contacts}"
    sim_mu="${front_left_wheel_sim_mu}"
    sim_mu2="${front_left_wheel_sim_mu2}"
    sim_slip1="${front_left_wheel_sim_slip1}"
    sim_slip2="${front_left_wheel_sim_slip2}"/>

  <xacro:property name="front_right_wheel_sim_cfg"
                  value="${sim_cfg.get('front_right_wheel', dict())}"/>
  <xacro:set_props_wheel_sim prop_prefix="front_right_wheel_sim"
                             sim_cfg="${front_right_wheel_sim_cfg}"/>

  <xacro:steerable_wheel
    name="front_right_wheel"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}base_link"
    use_visual="${s_wheel_use_visual}"
    use_inertial="${s_wheel_use_inertial}"
    v_mesh="${s_wheel_v_mesh}"
    v_mesh_scale="${s_wheel_v_mesh_scale}"
    color="${s_wheel_color}"
    radius="${s_wheel_radius}"
    length="${s_wheel_width}"
    mass="${s_wheel_mass}"
    steering_joint_type="revolute"
    steering_joint_limits="${s_wheel_steering_joint_limits}"
    steering_joint_dynamics="${s_wheel_steering_joint_dynamics}"
    rotation_joint_type="continuous"
    rotation_joint_limits="${s_wheel_rotation_joint_limits}"
    rotation_joint_dynamics="${s_wheel_rotation_joint_dynamics}"
    joint_parent_fr_wheel_fr="${wheelbase} ${-front_wheel_track * 0.5} ${-wheel_radius + s_wheel_radius} 0 0 0"
    sim_enabled="${front_right_wheel_sim_enabled}"
    sim_max_contacts="${front_right_wheel_sim_max_contacts}"
    sim_mu="${front_right_wheel_sim_mu}"
    sim_mu2="${front_right_wheel_sim_mu2}"
    sim_slip1="${front_right_wheel_sim_slip1}"
    sim_slip2="${front_right_wheel_sim_slip2}"/>

  <xacro:property name="rear_left_wheel_sim_cfg"
                  value="${sim_cfg.get('rear_left_wheel', dict())}"/>
  <xacro:set_props_wheel_sim prop_prefix="rear_left_wheel_sim"
                             sim_cfg="${rear_left_wheel_sim_cfg}"/>

  <xacro:wheel
    name="rear_left_wheel"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}base_link"
    use_visual="${wheel_use_visual}"
    use_inertial="${wheel_use_inertial}"
    v_mesh="${wheel_v_mesh}"
    v_mesh_scale="${wheel_v_mesh_scale}"
    color="${wheel_color}"
    radius="${wheel_radius}"
    length="${wheel_width}"
    mass="${wheel_mass}"
    rotation_joint_type="continuous"
    rotation_joint_limits="${wheel_rotation_joint_limits}"
    rotation_joint_dynamics="${wheel_rotation_joint_dynamics}"
    joint_parent_fr_wheel_fr="0 ${rear_wheel_track * 0.5} 0 0 0 0"
    sim_enabled="${rear_left_wheel_sim_enabled}"
    sim_max_contacts="${rear_left_wheel_sim_max_contacts}"
    sim_mu="${rear_left_wheel_sim_mu}"
    sim_mu2="${rear_left_wheel_sim_mu2}"
    sim_slip1="${rear_left_wheel_sim_slip1}"
    sim_slip2="${rear_left_wheel_sim_slip2}"
    sim_fdir1="1 0 0"
    sim_fdir1_frame="${robot_prefix}base_footprint_link"/>

  <xacro:property name="rear_right_wheel_sim_cfg"
                  value="${sim_cfg.get('rear_right_wheel', dict())}"/>
  <xacro:set_props_wheel_sim prop_prefix="rear_right_wheel_sim"
                             sim_cfg="${rear_right_wheel_sim_cfg}"/>

  <xacro:wheel
    name="rear_right_wheel"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}base_link"
    use_visual="${wheel_use_visual}"
    use_inertial="${wheel_use_inertial}"
    v_mesh="${wheel_v_mesh}"
    v_mesh_scale="${wheel_v_mesh_scale}"
    color="${wheel_color}"
    radius="${wheel_radius}"
    length="${wheel_width}"
    mass="${wheel_mass}"
    rotation_joint_type="continuous"
    rotation_joint_limits="${wheel_rotation_joint_limits}"
    rotation_joint_dynamics="${wheel_rotation_joint_dynamics}"
    joint_parent_fr_wheel_fr="0 ${-rear_wheel_track * 0.5} 0 0 0 0"
    sim_enabled="${rear_right_wheel_sim_enabled}"
    sim_max_contacts="${rear_right_wheel_sim_max_contacts}"
    sim_mu="${rear_right_wheel_sim_mu}"
    sim_mu2="${rear_right_wheel_sim_mu2}"
    sim_slip1="${rear_right_wheel_sim_slip1}"
    sim_slip2="${rear_right_wheel_sim_slip2}"
    sim_fdir1="1 0 0"
    sim_fdir1_frame="${robot_prefix}base_footprint_link"/>

  <xacro:fork prefix="${robot_prefix}"
              name="fork"
              parent_link="${robot_prefix}base_link"
              use_visual="${fork_use_visual}"
              use_inertial="${fork_use_inertial}"
              mass="${fork_mass}"
              mast_color="${fork_mast_color}"
              mast_size="${fork_mast_size}"
              mast_limits="${fork_mast_limits}"
              holder_limits="${fork_holder_limits}"
              board_color="${fork_board_color}"
              board_size="${fork_board_size}"
              board_motion_sign="${fork_board_motion_sign}"
              board_limits="${fork_board_limits}"
              tine_color="${fork_tine_color}"
              tine_size="${fork_tine_size}"
              joint_parent_fr_root_fr="-0.25 0 ${-fork_support_height * 0.5} 0 0 ${pi}"
              y_left_tine="${fork_y_left_tine}"
              y_right_tine="${fork_y_right_tine}"/>

  <xacro:if value="${sim_file != ''}">
    <gazebo>
      <!--
      Insert the `LinearBatteryPlugin` Gazebo plugin to publish the model battery state and optionally drain the battery.
      More details about this plugin in
      package://robotics_description/urdf/gz_system_plugins/plugin_linear_battery_macro.xacro
      -->
      <xacro:property name="battery_sim_cfg"
                      value="${sim_cfg.get('battery', dict())}"/>

      <xacro:if value="${battery_sim_cfg.get('enabled', False)}">
        <!--
        Parameters 'voltage', 'capacity' and 'power_load' are required in the `battery` simulation
        configuration.
        -->

        <xacro:property name="battery_voltage" value="${battery_sim_cfg.get('voltage', '')}"/>

        <xacro:if value="${battery_voltage == ''}">
          ${xacro.fatal("battery: voltage is required when battery.enabled is true")}
        </xacro:if>

        <xacro:property name="battery_capacity" value="${battery_sim_cfg.get('capacity', '')}"/>

        <xacro:if value="${battery_capacity == ''}">
          ${xacro.fatal("battery: capacity is required when battery.enabled is true")}
        </xacro:if>

        <xacro:property name="battery_power_load" value="${battery_sim_cfg.get('power_load', '')}"/>

        <xacro:if value="${battery_power_load == ''}">
          ${xacro.fatal("battery: power_load is required when battery.enabled is true")}
        </xacro:if>

        <xacro:property name="battery_power_draining_topic"
                        value="${battery_sim_cfg.get('power_draining_topic', '')}"/>

        <xacro:if value="${battery_power_draining_topic != ''}">
          <xacro:resolve_topic prop_id="battery_power_draining_topic"
                               topic="${battery_power_draining_topic}"
                               namespace="${robot_namespace}"/>
        </xacro:if>

        <xacro:property name="battery_stop_power_draining_topic"
                        value="${battery_sim_cfg.get('stop_power_draining_topic', '')}"/>

        <xacro:if value="${battery_stop_power_draining_topic != ''}">
          <xacro:resolve_topic prop_id="battery_stop_power_draining_topic"
                               topic="${battery_stop_power_draining_topic}"
                               namespace="${robot_namespace}"/>
        </xacro:if>

        <xacro:plugin_linear_battery
          name="main_battery"
          voltage="${battery_voltage}"
          capacity="${battery_capacity}"
          power_load="${battery_power_load}"
          fix_issue_225="${battery_sim_cfg.get('fix_issue_225', True)}"
          open_circuit_voltage_constant_coef="${battery_sim_cfg.get('open_circuit_voltage_constant_coef', '')}"
          open_circuit_voltage_linear_coef="${battery_sim_cfg.get('open_circuit_voltage_linear_coef', '')}"
          initial_charge="${battery_sim_cfg.get('initial_charge', '')}"
          resistance="${battery_sim_cfg.get('resistance', '')}"
          smooth_current_tau="${battery_sim_cfg.get('smooth_current_tau', '')}"
          invert_current_sign="${battery_sim_cfg.get('invert_current_sign', '')}"
          start_draining="${battery_sim_cfg.get('start_draining', '')}"
          power_draining_topic="${battery_power_draining_topic}"
          stop_power_draining_topic="${battery_stop_power_draining_topic}"
          enable_recharge="${battery_sim_cfg.get('enable_recharge', '')}"
          charging_time="${battery_sim_cfg.get('charging_time', '')}"
          recharge_by_topic="${battery_sim_cfg.get('recharge_by_topic', '')}"/>
      </xacro:if>

      <!--
      Insert the `OdometryPublisher` Gazebo plugin to publish the true pose of
      the robot with respect to a selected fixed frame in Gazebo.
      More details about this plugin in
      package://robotics_description/urdf/gz_system_plugins/plugin_odometry_publisher_macro.xacro
      -->
      <xacro:property name="base_pose_ground_truth_publisher_sim_cfg"
                      value="${sim_cfg.get('base_pose_ground_truth_publisher', dict())}"/>

      <xacro:if value="${base_pose_ground_truth_publisher_sim_cfg.get('enabled', False)}">
        <!--
        Prepend the prefix `bpgtp_` to all properties related to the base pose
        ground truth publisher Gazebo plugin, to avoid name conflicts with
        other Gazebo plugins.
        -->
        <xacro:property name="bpgtp_nav_topic_no_cov"
                        value="${base_pose_ground_truth_publisher_sim_cfg.get('nav_topic_no_cov', '')}"/>

        <xacro:property name="bpgtp_nav_topic_cov"
                        value="${base_pose_ground_truth_publisher_sim_cfg.get('nav_topic_cov', '')}"/>

        <xacro:property name="bpgtp_tf_topic"
                        value="${base_pose_ground_truth_publisher_sim_cfg.get('tf_topic', '')}"/>

        <!-- If one of the topics is empty, then the plugin is not loaded. -->
        <xacro:if value="${bpgtp_nav_topic_cov != '' and bpgtp_nav_topic_no_cov != '' and bpgtp_tf_topic != ''}">
          <xacro:resolve_topic prop_id="bpgtp_resolved_nav_topic_cov"
                               topic="${bpgtp_nav_topic_cov}"
                               namespace="${robot_namespace}"/>

          <xacro:resolve_topic prop_id="bpgtp_resolved_nav_topic_no_cov"
                               topic="${bpgtp_nav_topic_no_cov}"
                               namespace="${robot_namespace}"/>

          <xacro:resolve_topic prop_id="bpgtp_resolved_tf_topic"
                               topic="${bpgtp_tf_topic}"
                               namespace="${robot_namespace}"/>

          <xacro:property name="bpgtp_fixed_frame"
                          value="${base_pose_ground_truth_publisher_sim_cfg.get('fixed_frame', 'sim_world')}"/>

          <xacro:property name="bpgtp_offset"
                          value="${base_pose_ground_truth_publisher_sim_cfg.get('offset', dict(x=0, y=0, z=0, R=0, P=0, Y=0))}"/>

          <xacro:property name="bpgtp_global_offset"
                          value="${base_pose_ground_truth_publisher_sim_cfg.get('global_offset', dict(x=0, y=0, z=0, R=0, P=0, Y=0))}"/>

          <xacro:property name="bpgtp_gaussian_noise"
                          value="${base_pose_ground_truth_publisher_sim_cfg.get('gaussian_noise', 0)}"/>

          <xacro:property name="bpgtp_publication_frequency"
                          value="${base_pose_ground_truth_publisher_sim_cfg.get('publication_frequency', 50)}"/>

          <xacro:plugin_odometry_publisher
            odom_frame="${bpgtp_fixed_frame}"
            robot_base_frame="${robot_prefix}base_footprint_link"
            odom_publish_frequency="${bpgtp_publication_frequency}"
            odom_topic="${bpgtp_resolved_nav_topic_no_cov}"
            odom_covariance_topic="${bpgtp_resolved_nav_topic_cov}"
            tf_topic="${bpgtp_resolved_tf_topic}"
            dimensions="2"
            xyz_offset="${bpgtp_offset['x']} ${bpgtp_offset['y']} ${bpgtp_offset['z']}"
            rpy_offset="${bpgtp_offset['R']} ${bpgtp_offset['P']} ${bpgtp_offset['Y']}"
            xyz_global_offset="${bpgtp_global_offset['x']} ${bpgtp_global_offset['y']} ${bpgtp_global_offset['z']}"
            rpy_global_offset="${bpgtp_global_offset['R']} ${bpgtp_global_offset['P']} ${bpgtp_global_offset['Y']}"
            gaussian_noise="${bpgtp_gaussian_noise}"/>
        </xacro:if>
      </xacro:if>
    </gazebo>
  </xacro:if>
</robot>
